html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.comment_text {
    font-size: 12px;
}

.comment_text_data {
    color: silver;
}

.poa_style {
    font-size: 11px;
}

.padding_headers {
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.padding_comments {
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.padding_search {
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.padding_search_buttons {
    margin-left: 10px !important;
}

.margin_doc_add_button {
    margin-bottom: 1rem !important;
}

.doc_applicant_form {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.doc_applicant_checkbox {
    margin-top: 5px;
}

.doc_applicant_data {
    margin-bottom: 10px;
}

.doc_applicant_field {
    margin-bottom: 5px;
}

.doc_applicant_select {
    height: 38px;
}

.doc_service_field {
    margin-right: 5px;
    font-size: 12px;
}

.doc_service_field_ltl {
    flex: 1 1 20px !important;
}

.doc_service_field_big {
    flex: 1 1 180px !important;
}

.finger_status {
    color: royalblue;
}

.table_vertical_center {
    vertical-align: middle;
}

.table_additional_info {
    padding: 0px !important;
}

.table_services_info {
    padding: 10px !important;
    margin: 0px;
    font-size: 10px;
    color: gray;
    background-color:ghostwhite
}

.applicant_form {
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.application_row {
    margin-bottom: 10px;
}

.application_service_button {
    text-align: right;
}

.application_space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.application_checkbox {
    margin-right: 10px;
}

.application_remove {
    margin-top: 15px;
}

.freeDate {
    background: #0d6efd !important;
    color: #ffffff !important;
}

.busy25Date {
    background: #3d8bfd !important;
    color: #ffffff !important;
}

.busy50Date {
    background: #6da8fd !important;
    color: #ffffff !important;
}

.busy75Date {
    background: #9ec5fe !important;
    color: #ffffff !important;
}

.busy100Date {
    background: #cee2fe !important;
    color: #ffffff !important;
}

.holiDay {
    background: #fcc7c3 !important;
    color: #ffffff !important;
}

.dateContainer {
    border: 1px solid #ced4da;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
}

.dateBlock {
    display: inline-block;
}

.left_space {
    margin-left: 10px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}