@page "/app/create/"
@model system4.Pages.Create.AppModel
@{
    ViewData["Title"] = "App";
}

<form method="post">
    <div class="container p-0">
        <h1 class="display-4 text-center">Создание о записи на подачу:</h1>

        <div class="row text-start">
            <div class="col">
                <label for="Center" class="form-label">Визовый центр:</label>
                <select class="form-select form-select-lg mb-3" id="Center" name="Center" aria-label=".form-select-lg example">
                    @foreach (var center in Model.Centers)
                    {
                        <option value="@center.Key">@center.Value</option>
                    }
                </select>
            </div>

            <div class="col">
                <label for="VisaType" class="form-label">Тип визы:</label>
                <select class="form-select form-select-lg mb-3" id="VisaType" name="VisaType" aria-label=".form-select-lg example"></select>
            </div>
        </div>

        <div id="applicants"></div>
        <button id="addApplicant" type="button" class="btn btn-outline-primary">добавить заявителя</button>

        <div class="container dateContainer" id="datepickersContainer"></div>
        <input type="hidden" id="dates_value" value="">

        <div class="row text-start">
            <div class="col">
                <label for="Center" class="form-label">Дата записи:</label>
                <input type="text" id="app_date" class="form-control mb-3 form-control-lg" readonly="readonly" value=""/>
            </div>

            <div class="col">
                <label for="Center" class="form-label">Время записи:</label>
                <select class="form-select form-select-lg mb-3" id="timeslots" name="timeslots" aria-label=".form-select-lg example"></select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">сохранить запись</button>

    </div>
</form>

@section Scripts {

    <script>
        $(document).ready(function () {

            var applicantIndex = 0;

            $("#addApplicant").click(function () {

                applicantIndex++;

                var newApplicant = `
                    <div class="dynamic-field-row border applicant_form">

                        <input type="hidden" id="Removed_${applicantIndex - 1}" name="Applicants[${applicantIndex - 1}].Removed" value="false" />

                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_LName" class="form-label">Фамилия:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_LName" name="Applicants[${applicantIndex - 1}].LName">
                                <div class="form-text">Ivanov</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_FName" class="form-label">Имя:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_FName" name="Applicants[${applicantIndex - 1}].FName">
                                <div class="form-text">Ivan</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_PassNum" class="form-label">Загранпаспорт:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_PassNum" name="Applicants[${applicantIndex - 1}].PassNum">
                                <div class="form-text">771234567</div>
                            </div>
                        </div>

                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_BirthDate" class="form-label">Дата рождения:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_BirthDate" name="Applicants[${applicantIndex - 1}].BirthDate">
                                <div class="form-text">01.01.1990</div>
                            </div>
                            <div class="col">
                                <input type="checkbox" class="btn-check" id="Applicants_${applicantIndex - 1}_IsChild" name="Applicants[${applicantIndex - 1}].IsChild" value="true" autocomplete="off">
                                <label class="btn btn-outline-primary application_checkbox" for="Applicants_${applicantIndex - 1}_IsChild">вписан в паспорт</label>
                                <input type="hidden" name="Applicants[${applicantIndex - 1}].IsChild" value="false" />

                                <input type="checkbox" class="btn-check" id="Applicants_${applicantIndex - 1}_NRes" name="Applicants[${applicantIndex - 1}].NRes" value="true" autocomplete="off">
                                <label class="btn btn-outline-primary" for="Applicants_${applicantIndex - 1}_NRes">нерезидент</label>
                                <input type="hidden" name="Applicants[${applicantIndex - 1}].NRes" value="false" />
                            </div>
                            <div class="col"></div>
                        </div>

                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RLName" class="form-label">Фамилия:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RLName" name="Applicants[${applicantIndex - 1}].RLName">
                                <div class="form-text">Иванов</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RFName" class="form-label">Имя:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RFName" name="Applicants[${applicantIndex - 1}].RFName">
                                <div class="form-text">Иван</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RMName" class="form-label">Отчество:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RMName" name="Applicants[${applicantIndex - 1}].RMName">
                                <div class="form-text">Иванович</div>
                            </div>
                        </div>

                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RPassNum" class="form-label">Номер внутреннего паспорта:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RPassNum" name="Applicants[${applicantIndex - 1}].RPassNum">
                                <div class="form-text">4500123456</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RPWhen" class="form-label">Дата выдачи:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RPWhen" name="Applicants[${applicantIndex - 1}].RPWhen">
                                <div class="form-text">01.01.2010</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RPWhere" class="form-label">Кем выдан:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RPWhere" name="Applicants[${applicantIndex - 1}].RPWhere">
                                <div class="form-text">ОВД района Беговая</div>
                            </div>
                        </div>

                        <button type="button" class="remove-field btn btn-outline-danger application_remove">удалить заявителя</button>
                    </div>`;

                $("#applicants").append(newApplicant);
            });

            $(document).on('click', '.remove-field', function () {

                var appl = $(this).closest('.dynamic-field-row');

                var lname = appl.find("[id$=LName]").val();
                var fname = appl.find("[id$=FName]").val();
                var passnum = appl.find("[id$=PassNum]").val();
                var applText = lname + fname + passnum;

                if ((applText.replace(/\s/g, '') != "") && !confirm('Вы уверены, что хотите удалить заявителя?'))
                    return;
                
                appl.hide();
                appl.find("[id^=Removed_]").val("true");
            });

            $("#Center").on('change', function() {
                visaTypeChange();
                datepickersChange();
            });

            visaTypeChange();

            function visaTypeChange() {

                $("#VisaType").find('option').remove();

                var center = Number($("#Center").val());

                $.get("/api/visatypes/" + center,
                    function(visatypes) {
                        visatypes.forEach(function(visa) {
                            $("#VisaType").append($('<option>', {
                                value: visa.id,
                                text: visa.vName
                            }));
                        });
                    }
                );
            }

            datepickersChange();

            function datepickersChange() {

                $("#datepickersContainer").find('div').remove();

                var center = Number($("#Center").val());
                var datepickersIndex = 0;

                $.get("/api/availability/" + center,
                    function(availabilities) {
                        availabilities.forEach(function(availability) {

                            datepickersIndex += 1;

                            $("#datepickersContainer").append($('<div>', {
                                class: "dateBlock",
                                id: "dates_" + datepickersIndex
                            }));

                            $("#dates_" + datepickersIndex).datepicker({
                                format: 'yyyy-mm-dd',
                                weekStart: 1,
                                startDate: availability.start,
                                endDate: availability.end,
                                beforeShowDay: function(date) {

                                    var isoArray = new Date(date).toLocaleString('ru').substring(0, 10).split('.');
                                    var isoDate = isoArray[2] + "-" + isoArray[1] + "-" + isoArray[0];

                                    if (availability.dates[isoDate] === undefined) {
                                        return { enabled: false };
                                    }
                                    else {
                                        if (!availability.dates[isoDate].includes('-')) {
                                    
                                            return {
                                                enabled: false,
                                                classes: 'holiDay',
                                                tooltip: availability.dates[isoDate]
                                            }
                                        }

                                        var appData = availability.dates[isoDate].split('-');
                                        var appCount = appData[0];
                                        var timesCount = appData[1];
                                        var appPercent = procent(timesCount, appCount);
                                        var percentLine = "\n" + appCount + " заявителей на " + timesCount + " слотов";

                                        if (appPercent >= 100) {
                                            return {
                                                enabled: false,
                                                classes: 'busy100Date',
                                                tooltip: "Все слоты заняты" + percentLine
                                            }         
                                        }
                                        else if (appPercent >= 75) {
                                            return {
                                                enabled: true,
                                                classes: 'busy75Date',
                                                tooltip: "Занято больше 75%" + percentLine
                                            }
                                        }
                                        else if (appPercent >= 50) {
                                            return {
                                                enabled: true,
                                                classes: 'busy50Date',
                                                tooltip: "Занято больше 50%" + percentLine
                                            }
                                        }
                                        else if (appPercent >= 25) {
                                            return {
                                                enabled: true,
                                                classes: 'busy25Date',
                                                tooltip: "Занято больше 25%" + percentLine
                                            }
                                        }
                                        else {
                                            return {
                                                enabled: true,
                                                classes: 'freeDate',
                                                tooltip: "Свободно или почти свободно" + percentLine
                                            }
                                        }  
                                    }
                                },
                            });

                            $("#dates_" + datepickersIndex).datepicker().on('changeDate', function(date) {
                                
                                var center = Number($("#Center").val());
                                var appDate = date.format(0,"yyyy-mm-dd");

                                $('#dates_value').val(appDate);
                                $('#app_date').val(date.format(0,"dd.mm.yyyy"));

                                $("#timeslots").find('option').remove();
                 
                                $.get("/api/timeslots/" + center + "/" + appDate,
                                    function(timeslots) {

                                        timeslots.forEach(function(timeslot) {

                                            $("#timeslots").append($('<option>', {
                                                value: timeslot.id,
                                                text: timeslotFormat(timeslot)
                                            }));
                                        });
                                    }
                                );
                            });
                        });
                    }
                );
            }

            function timeslotFormat(timeslot) {

                var start = secToTime(timeslot.tStart);
                var end = secToTime(timeslot.tEnd);
                var visas = timeslot.visas;
                var apps = timeslot.applicants;
                var percent = timeslot.percentage;

                return start + " — " + end + " (" + percent + "% свободно, " + apps + " занято из " + visas + ")";
            }

            function secToTime(sec) {

                var sec_num = parseInt(sec, 10);
                var hours = Math.floor(sec_num / 3600);

                if (hours < 10)
                    hours = "0" + hours;

                var minutes = Math.floor((sec_num - (hours * 3600)) / 60);

                if (minutes < 10)
                    minutes = "0" + minutes;

                return hours + ':' + minutes;
            }

            function procent(all, count) {

                if (all === 0)
                    return (100).toFixed(2);

                return (count * 100 / all).toFixed(2);       
            }
        });
    </script>
}
