@page "/app/create/"
@model system4.Pages.Create.AppModel
@{
    ViewData["Title"] = "App";
}

<form method="post">
    <div class="container p-0 text-center">
        <h1 class="display-4">Создание о записи на подачу:</h1>

        <div class="row text-start">
            <div class="col">
                <label for="Center" class="form-label">Визовый центр:</label>
                <select class="form-select form-select-lg mb-3" id="Center" name="Center" aria-label=".form-select-lg example">
                    @foreach (var center in Model.Centers)
                    {
                        <option value="@center.Key">@center.Value</option>
                    }
                </select>
            </div>

            <div class="col">
                <label for="Visa" class="form-label">Тип визы:</label>
                <select class="form-select form-select-lg mb-3" id="Visa" name="Visa" aria-label=".form-select-lg example">
                    @foreach (var visa in Model.VisaTypes)
                    {
                        <option value="@visa.Key">@visa.Value</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div id="applicants"></div>
    <button id="addApplicant" type="button" class="btn btn-outline-primary padding_search_buttons">добавить заявителя</button>
    <button type="submit" class="btn btn-primary">сохранить запись</button>
</form>

@section Scripts {

    <script>
        $(document).ready(function () {

            let applicantIndex = 0;

            $("#addApplicant").click(function () {

                applicantIndex++;

                let newApplicant = `
                    <div class="dynamic-field-row border applicant_form">
                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_LName" class="form-label">Фамилия:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_LName" name="Applicants[${applicantIndex - 1}].LName">
                                <div class="form-text">Ivanov</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_FName" class="form-label">Имя:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_FName" name="Applicants[${applicantIndex - 1}].FName">
                                <div class="form-text">Ivan</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_PassNum" class="form-label">Загранпаспорт:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_PassNum" name="Applicants[${applicantIndex - 1}].PassNum">
                                <div class="form-text">771234567</div>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_BirthDate" class="form-label">Дата рождения:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_BirthDate" name="Applicants[${applicantIndex - 1}].BirthDate">
                                <div class="form-text">01.01.1990</div>
                            </div>
                            <div class="col">
                                <input type="checkbox" class="btn-check" id="Applicants_${applicantIndex - 1}_IsChild" name="Applicants[${applicantIndex - 1}].IsChild" value="true" autocomplete="off">
                                <label class="btn btn-outline-primary application_checkbox" for="Applicants_${applicantIndex - 1}_IsChild">вписан в паспорт</label>
                                <input type="hidden" name="Applicants[${applicantIndex - 1}].IsChild" value="false" />

                                <input type="checkbox" class="btn-check" id="Applicants_${applicantIndex - 1}_NRes" name="Applicants[${applicantIndex - 1}].NRes" value="true" autocomplete="off">
                                <label class="btn btn-outline-primary" for="Applicants_${applicantIndex - 1}_NRes">нерезидент</label>
                                <input type="hidden" name="Applicants[${applicantIndex - 1}].NRes" value="false" />
                            </div>
                            <div class="col"></div>
                        </div>

                        <button type="button" class="remove-field btn btn-outline-primary">удалить заявителя</button>
                    </div>`;

                $("#applicants").append(newApplicant);
            });

            $(document).on('click', '.remove-field', function () {

                $(this).closest('.dynamic-field-row').remove();
            });
        });
    </script>
}
