@page "/app/{appid:int}/create"
@model system4.Pages.Create.DocModel
@{
    ViewData["Title"] = "Doc";
}

<form method="post">
    <div class="container p-0">
        <h1 class="display-4 text-center">Создание договора:</h1>

        <div class="row text-start">
            <div class="col">
                <label for="VisaType" class="form-label">Номер записи:</label><br />
                <span class="fs-3">@DAL.Formats.Appointment(Model.Appointment.AppNum)</span>
            </div>
            <div class="col">
                <label for="VisaType" class="form-label">Тип визы:</label>
                <select class="form-select form-select-lg mb-3" id="VisaType" name="VisaType" aria-label=".form-select-lg example">
                    @foreach (var visa in Model.VisaTypes)
                    {
                        <option value="@visa.Key">@visa.Value</option>
                    }
                </select>
            </div>

            <div class="col align-self-end">
                <input type="checkbox" class="btn-check" id="Urgent" name="Urgent" value="true" autocomplete="off">
                <label class="btn btn-outline-primary btn-lg application_checkbox margin_doc_add_button" for="Urgent">срочная виза</label>
                <input type="hidden" name="Urgent" value="false" />
            </div>
        </div>

        <div class="row text-start">


        </div>

        <button type="submit" class="btn btn-primary">создать договор</button>

    </div>
</form>