@page "/app/{appid:int}/create"
@model system4.Pages.Create.DocModel
@{
    ViewData["Title"] = "Doc";
}

<form method="post">
    <div class="container p-0">
        <h1 class="display-4 text-center">Создание договора:</h1>

        <button type="submit" class="btn btn-primary">создать договор</button>

    </div>
</form>