@page "/login"
@model system4.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Вход в систему</h1>
</div>

<div class="row d-flex justify-content-center align-items-center h-100 top-space">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <form method="post">
                    <div class="form-outline mb-4">
                        <span asp-validation-for="Users.Login" class="error-text"></span>
                        <input type="text" asp-for="Users.Login" class="form-control" />
                        <label class="form-label" asp-for="Users.Login">Логин</label>
                    </div>

                    <div class="form-outline mb-4">
                        <span asp-validation-for="Users.Pass" class="error-text"></span>
                        <input type="password" asp-for="Users.Pass" class="form-control" />
                        <label class="form-label" asp-for="Users.Pass">Пароль</label>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block mb-4 btn_fix data-mdb-ripple-init">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>