@page "/apps/"
@model system4.Pages.Docs.AppsModel
@{
    ViewData["Title"] = "Apps";
}

<div class="text-center">
    <h1 class="display-4">App List</h1>
    
    @foreach (DB.Appointment app in Model.Appointments)
    {
        <a class="normal-link" href="/apps/@app.Id/">@app.AppNum</a>
        @app.AppDate

        <br />
    }

</div>